#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node modules
/client/node_modules
/node_modules
.npm
.vscode



# testing
/client/coverage

# production
/client/build

# misc/config
/server/src/config/dev.js
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.env.development